/*Standard settings*/
html, body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(23, 23, 23);
    overflow: visible;
}

/*fjerner scrollbar men beholder scrollefunksjon*/
body::-webkit-scrollbar
{
	display: none;
    
}

.container{
    color: white; 
    position: relative;
}

.text_over_bilde{
    position: absolute;
    top: 35%;
    left: 7%;
    font-size: 6vw;
    font-weight:400;
    line-height: 1em;
}

.oransj_underbox{
    position: absolute;
    background-color: #f07400;
    height: 10vw;
    width: 100%;
    bottom: 0%;
    line-height: 7vw;
    text-align: center;
    color: black;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 5fr 0.2fr 2fr 2fr 1fr;
}

.starsIMG{
    height: 5vw; 
    width: 5vw; 
    border-radius: 50%; 
    padding: 10px;
}

.subscribe{
    background-color: #081630; 
    width: 15vw; 
    height: 23vw; 
    margin-top: 2.5vw; 
    border-radius: 1vw; 
    color: white
}